<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>

  <body>
    <h1> </h1>
    <form method="POST" action="/display_puppy">
      <p>
        Name: <input type='text' name='name' />
      </p>
      <p>
        Breed: <input type='text' name='breed' />
      </p>
      <p>
        Age: <input type='text' name='age' />
      </p>
      <input id = "submit" type="submit" name = "submit"/>
    </form>
  </body>
</html>
